.feedback_popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);	
}
.feedback {
  display: none;
  width: 465px;
  height: 578px;
  margin: auto;
  padding: 25px 64px;
  text-align: center;
  background-color: #fff;
  z-index: 20;
  opacity: 0;
  transition: opacity 1.5s;
}
.feedback_visible {
  display: block;
}
.feedback_animate {
  opacity: 1;
}
.feedback_title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0 30px 0;
  color: #535353;
}
.feedback_input {
  display: block;
  width: 100%;
  height: 41px;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 10px 15px;
  outline: none;
}
.feedback_input:required:invalid {
  border-color: #ff8383;
  box-shadow: inset 0 0 25px #ff8383;
  position: relative;
}
.feedback_input:required:valid {
  border: 1px solid green;
}
.feedback_input::placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.feedback_input:focus::placeholder          {opacity: 0; transition: opacity 0.3s ease;}

.feedback_input.feedback_input_message {
  height: 141px;
  margin-bottom: 22px;
  resize: none;
}
.feedback_submit {
  width: 128px;
  height: 42px;
  padding: 0;
  line-height: 42px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #777;
  border: 1px solid #868686;
}
.feedback_close-btn {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #777;
  top: -26px;
  right: -26px;
}
.feedback_close-btn::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  top: 3px;
  left: 12px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.feedback_close-btn::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  top: 3px;
  left: 12px;
  background-color: #fff;
   transform: rotate(45deg);
}